/* fonts styles start */

.inter-inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway-raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
/* fonts styles end */

/* common css start */
.common-btn{
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	background-color: #4E47FF;
	color: white;
	padding: 12px 36px;
	transition: 0.33s linear;
}
.common-btn:hover{
	background-color: yellow;
	color: black;
	transform: scale(1.1);
}
/* common css end */

/* header start */
header{
	background-image: url(../assets/Hero-bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
/* header end */

/* nav start */
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	margin: 10px 0 0 150px;
}
.logo h2{
	font-size: 34px;
	font-weight: 900;
	color: #4E47FF;
}
.header-btn{
	margin: 10px 150px 0 0;
}
/* nav end */

/* banner start */
.banner{
	padding: 50px 260px 100px;
	text-align: center;
}
.banner h1{
	font-size: 65px;
	font-weight: bold;
}
/* banner end */

/* main start */
main{
	background-color: #F5F8FF;
}
/* main end */

/* action start */
.action{
	display: flex;
	justify-content: center;
	gap: 180px;
	align-items: center;
	padding: 120px 0 100px 0;
}
.action-content{
	max-width: 520px;
}
.action-content h2{
	font-size: 42px;
	font-weight: 700;
}
.action-content h3{
	font-size: 24px;
	font-weight: 400;
	color: rgba(37, 36, 50, 0.5);
}
.action-img img{
	border-radius: 48px;
}
/* action end */

/* productive users start */
.productive-users{
	margin: 0 150px;
	padding: 50px 140px;
	border-radius: 24px;
	text-align: center;
	background-color: #E5E7FF;
}
.pu-title h2{
	font-size: 38px;
	font-weight: 700;
	color: #252432;
}
.pu-data{
	display: flex;
	justify-content: center;
	gap: 160px;
}
.data-title{
	font-size: 80px;
	font-weight: 700;
	color: #4E47FF;
	margin-top: 10px;
	margin-bottom: 0;
}
.data-description{
	font-size: 20px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	margin: 0;
}
/* productive users end */
